.mainDiv {
    background-color: black;
    display: inline-block;
}

.leftDiv {
    position: absolute;
    top: 53%;
    left: 25%;
    transform: translate(-50%, -50%);                                                                                           
}

.link {
    text-decoration: none;
}

.navPanel{
    cursor: pointer;
    padding: 20px 0;
}

.scroll {
    overflow: auto;
    max-height: 916px;
    background-color: #131316;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedContainer {
    background-color: #1C1C21;
    border-radius: 20px;
    width: 584px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.containerTop {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.containerMiddle {
    padding-left: 24px;
    padding-right: 24px;
}

.containerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.price {
    display: flex;
}

.priceIcon {
    padding-left: 15px;
}

.imagesOrder {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 20px;
}

  
.imgaesItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 60px;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid #801AB2;
    background: var(--interface-bg, #131316);
    margin-left: -20px;
}

.image {
    flex-shrink: 0;
    width: 112px;
    height: 56px;
}