.background{
    background-color:#1C1C21;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extremeDiv{
    padding:0px 100px;
    display: flex;
}

.links{
    padding:20px 10px;
    display: flex;
}

.text{
    padding: 0 8px;
}

.logo{
    padding: 20px 10px;
    display: flex;
    margin: 0 auto;
}

.account{
    padding:20px 140px;
    display: flex;
}